name: Build and Release

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
        server-id: github # Matching the ID in pom.xml distributionManagement

    - name: Create settings.xml
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        cat <<EOF > settings.xml
        <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
          <servers>
            <server>
              <id>github</id>
              <username>TiJaWo68</username>
              <password>${{ secrets.PAT_TOKEN }}</password>
            </server>
          </servers>
        </settings>
        EOF

    - name: Build and Deploy to GitHub Packages
      if: startsWith(github.ref, 'refs/tags/')
      run: mvn -B deploy -DskipTests --file pom.xml -s settings.xml
      env:
        GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v2
      with:
        files: target/*.jar
        name: Release ${{ github.ref_name }}
        tag_name: ${{ github.ref }}
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
